<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pedido</title>
</head>
<body>
    <h1>Detalhes do Pedido</h1>
    <p>ID do Pedido: <span th:text="${pedido.idPedido}"></span></p>
    <p>Data do Pedido: <span th:text="${#dates.format(pedido.pedidoTimestamp, 'dd/MM/yyyy HH:mm')}"></span></p>
    <p>Valor do Pedido: R$ <span th:text="${pedido.pedidoValor}"></span></p>
    <p>Forma de Pagamento: <span th:text="${pedido.pedidoPagamento}"></span></p>
    <p>Status do Pedido: <span th:text="${pedido.pedidoStatus}"></span></p>
    
    <h2>Itens do Pedido</h2>
    <ul>
        <li th:each="item : ${pedido.item}" th:text="${item.nome}"></li>
    </ul>
    
    <h2>Cliente</h2>
    <p>Nome: <span th:text="${pedido.cliente.nome}"></span></p>
    <p>Email: <span th:text="${pedido.cliente.email}"></span></p>
</body>
</html>
