<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Pizzaria Louvadeus</h1>
    <p>Bem vindo!!!</p>

    <a href='cadastro'>Cadastre-se!</a>
    <a href='logar'>Logar!</a>
    <a href='pedido'>Vamos pedir!!!</a>

    <h3>Nosso Menu!!!</h3>

    <h4>Pizzas</h4>
    <div class="grid-container">
        <div th:each="item : ${registrosP}" class="card">
            <h2 th:text="${item.nomeItem}"></h2>
            <p th:text="${item.descItem}"></p>
            <p th:text="${item.priceItem}"></p>
        </div>
    </div>

    <h4>Bebidas</h4>
    <div class="grid-container">
        <div th:each="item : ${registrosB}" class="card">
            <h2 th:text="${item.nomeItem}"></h2>
            <p th:text="${item.descItem}"></p>
            <p th:text="${item.priceItem}"></p>
        </div>
    </div>
    
</body>
</html>