<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/logar}" method="POST" th:object="${usuario}">
        <label for="nome">Usuário:</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" required><br><br>
        
        <label for="pswd">Senha:</label>
        <input type="password" id="pswd" name="pswd" th:field="*{pswd}" required><br><br>
        
        <button type="submit">Entrar</button>
        <button type="button" onclick="location.href='cadastro'">Cadastrar</button>
        <button type="button" onclick="location.href='reset_pw'">Esqueci a Senha</button>
    </form>
</body>
</html>
