<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <!-- Menu -->
        <div th:each="item : ${registrosP}" class="card">
            <h2 th:text="${item.nomeItem}"></h2>
            <p th:text="${item.descItem}"></p>
            <p th:text="${item.priceItem}"></p>
            <form th:action="@{/pedido}" method="post">
                <input type="hidden" name="nomeItem" th:value="${item.nomeItem}" />
                <input type="hidden" name="descItem" th:value="${item.descItem}" />
                <input type="hidden" name="priceItem" th:value="${item.priceItem}" />
                <button type="submit">Adicionar ao Pedido</button>
            </form>
        </div>
    </div>

    <!-- Lista de Pedidos -->
    <div class="pedido-container">
        <h2>Lista de Pedidos</h2>
        <ul>
            <li th:each="item : ${itensSelecionados}">
                <span th:text="${item.nomeItem} + ' - ' + ${item.descItem} + ' - R$ ' + ${item.priceItem}"></span>
            </li>
        </ul>
        <form th:action="@{/pedido/enviarPedido}" method="post">
            <button type="submit">Pedir</button>
            <button type="button" th:onclick="'location.href=\'/cancelarPedido\''">Cancelar</button>
        </form>
    </div>
</body>
</html>
