<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <!-- Menu -->
        <form th:action="@{/pedido}" method="post">
            <div th:each="item : ${registrosP}" class="card">
                <h2 th:text="${item.nomeItem}"></h2>
                <p th:text="${item.descItem}"></p>
                <p th:text="${item.priceItem}"></p>
                <input type="hidden" name="nomeItem" th:value="${item.nomeItem}" />
                <input type="hidden" name="descItem" th:value="${item.descItem}" />
                <input type="hidden" name="priceItem" th:value="${item.priceItem}" />
                <button type="submit">Adicionar ao Pedido</button>
            </div>
        </form>
    </div>

    <!-- Itens Selecionados -->
    <div class="pedido-container">
        <h2>Itens Selecionados</h2>
        <ul>
            <li th:each="entry: ${itensSelecionados.entrySet()}">
                <span th:text="${entry.key} + ' - ' + ${entry.value.descItem} + ' - R$ ' + ${entry.value.priceItem}"></span>
            </li>
        </ul>
    </div>
</body>
</html>
