<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <!-- Adicione links para arquivos CSS externos, se necessário -->
</head>
<body>
    <header>
        <h1>Bem-vindo à Pizzaria Online</h1>
    </header>
    <nav>
        <!-- Adicione links de navegação para outras páginas, se necessário -->
    </nav>
    <main>
        <section>
            <h2>Nossos Cardápios</h2>
            <p>Escolha entre uma variedade de pizzas deliciosas e bebidas refrescantes.</p>
            <!-- Adicione imagens e informações sobre as opções de cardápio aqui -->
            <ul>

            </ul>
            
        </section>
        
        <section>
            <h2>Faça seu Pedido</h2>
            <p>Adicione itens ao seu pedido e finalize sua compra.</p>
            <!-- Adicione formulários e botões para adicionar itens ao pedido aqui -->
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Pizzaria Online. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
