<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Usuário</h1>
    <form th:action="@{/cadastro}" method="POST" th:object="${cliente}">

        <!-- Dados de Reset -->
        Usuário:<br>
        <input type="text" name="usuario.nome" required><br>        
        CPF do Cliente:<br>
        <input type="number" name="clienteCPF" required><br>
        Email do Cliente:<br>
        <input type="text" name="clienteEmail" required><br>

        Nova Senha:<br>
        <input type="password" name="usuario.pswd" required><br><br>



        <button type="submit">Cadastrar</button>
        <button type="button" onclick="location.href='login'">Cancelar</button>
    </form>
    
</body>
</html>