<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Usuário</h1>
    <form th:action="@{/reset_pw}" method="POST" th:object="${cliente}">

        <!-- Dados de Reset -->
        Usuário:<br>
        <input type="text" name="usuarioNome" th:field="*{usuario.nomeUsuario}" required><br>        
        CPF do Cliente:<br>
        <input type="number" name="clienteCPF" th:field="*{clienteCPF}" required><br>
        Email do Cliente:<br>
        <input type="text" name="clienteEmail" th:field="*{clienteEmail}" required><br><br>

        Nova Senha:<br>
        <input type="password" name="pswdUsuario" th:field="*{usuario.pswdUsuario}" required><br>



        <button type="submit">Trocar Senha</button>
        <button type="button" onclick="location.href='logar'">Cancelar</button>
    </form>
    
</body>
</html>